.container {
  margin: 0px auto;
  width: 80%;
  padding: 0px 20px 20px 20px;
  border: 1px dotted black;
  min-height: 650px;
}
th {
  text-align: left;
}

.nav-bar{
  float: left;
  width: 100%;
  background: #ccc;
  height: 80px;
  margin-bottom: 30px;
}

.nav-bar ul{
  margin: 0;
  padding: 0;
}

.nar-bar ul li{
  float: left;
  list-style: none;
  font-size: 12px;
  font-family: "Verdana", "Arial";

}

.nav-bar a{
  display: block;
  float: right;
  padding: 8px 44px;
  text-decoration: none;
  color: #fff;
}
.signup-form {
  padding: 20px;
}
.signup-form form {
  display: block;
  float: right;
  margin-right: 200px;
}
.signup-form img {
  float: left;
  margin-left: 80px;
}

.signup-form label {
  margin-top: 10px;
}

.login{
  float: right;
}

.form-label {
  padding: 15px;
}

.login-form {
  line-height: 80px;
}
#login-submit {
  margin-right: 10px;
}
.signup {
  float: right;
}

.image-front {
  float: left;
}

.input-field {
  padding: 8px;
}
