
<div class="available-decks">
<h3>Your current decks:</h3>

<% @decks.each do |deck|%>
  <form action="/round" method="POST">
  <input type="hidden" value="<%=deck.id%>" name="deck_id"><p><%=deck.name%> </p>
  <input type='submit' value='Click to play'> 
  </form><br>
  <a href='/deck/<%=deck.id%>/edit'>Want to edit it?</a>
<% end %>
</div>
 



