
<label class="form-label"><span class ="label">Email: </span>
  <input type='text' name='user[email]' placeholder='email'>
</label>

<label class="form-label"><span class ="label">Password: </span>
  <input type='password' name='user[password]' placeholder='password'>
</label>



