
<div class="nav-bar">

    <div id = "logo">
<img src="/img/logo.jpg" alt="Smiley face" height="90" width="200">
</div>

  <%if current_user%>
  <div class = "secondary-navbar">
    <div id = "logo">
<img src="/img/logo.jpg" alt="Smiley face" height="90" width="200">
</div>
    <ul>  
       <li><a href="/logout">LOGOUT </a> </li>
      <li><a href="/">HOME </a> </li>
     
    </ul>
  </div>
  <!--Current logout -->
  <%else%>
     
     <%= erb :_login %>

  <%end%>

</div>