<div class="nav-bar">

  <%if current_user%>
  <div class = "secondary-navbar">
    <ul>  
       <li><a href="/logout">LOGOUT </a> </li>
      <li><a href="/">HOME </a> </li>
     
    </ul>
  </div>
  <!--Current logout -->
  <%else%>
     
     <%= erb :_login %>

  <%end%>

</div>