<div class="secondary-container">

  <div class="signup-form">


   <form action='/signup' method='POST' class="signup-form">
    <h3>Create your account:</h3>

    <div class="input-field">
      <label>Name: </label>
      <input type='text' name='user[name]' placeholder='Name'/>
    </div>

    <div class="input-field">
      <label>Email: </label>
      <input type='text' name='user[email]' placeholder='email'/>
    </div>

    <div class="input-field">
      <label>Password:</label>
      <input type='password' name='user[password]' placeholder='password'/>
    </div>

    <input type='submit' value='Sign Up'/> 

  </form>

</div>

</div>