<div class = "create-card">
<form action='/card' method="POST">
  <label>Card Prompt
    <input type="text" name="prompt"><br>
  </label><br>
  <label>Card Answer
    <input type="text" name="answer"><br>
  </label></br>
    <input type="hidden" name="deck_id" value=<%=@deck_id%>>
    <center><input type="submit" value="Create card"></center>
</form>
<br>
<center><a href='/'>Nevermind, I'm done creating cards</a></center>
</div>