<div class ="card-show">
<form action='/deck' method="POST">
  <label>Enter your Deck name here.
    <input type="text" name="deck_name" placeholder="Deck name">
    <input type="submit" value="Click to create deck">
  </label>
</form>
<img src="/img/question.jpg" alt="Smiley face" height="500" >

</div>