<div class ="edit-page">
  <h1> Want to change your decks? </h1><br>
<form action='/deck/<%=@deck.id%>' method="POST">
  <input type="hidden" name="_method" value="PUT">
  <label><h2>Edit deck name:</h2>
    <input type="text" name="deck_name" value="<%=@deck.name%>">
  </label>
  <input type="submit">
</form>

<br>

<form action='/deck/<%=@deck.id%>' method="POST">
  <input type="hidden" name="_method" value="DELETE">
  <h2>Delete deck:</h2>
  This cannot be undone!
  <div class ="warning">
  <input  type="submit" value="Delete">
</div>
</form>

<br><br>
<a href='/deck/<%=@deck.id%>/cards'>Or click here to view cards</a>
</div>