<% if @guess.correct? %>
  <h3>Good job</h3>
<% else %>
  <h3>Incorrect!</h3>
  <p>The correct answer is:</p>

  <p> <%= @guess.card.answer %></p>

<% end %>

<a href="/round/<%=@round.id%>">Next Card</a>

