
  <h1>Here is your card</h1>

  <p><%=@card.prompt%></p>

  <p>What is your answer</p>
  <form action="/play" method="POST">
    <input type="hidden" name="card_id" value="<%=@card.id%>">
    <input type="text" name="user_input">
    <input type="submit">
  </form>

