
  <div class ="welcome">
    <h1>Welcome <%= current_user.name %>!</h1>
  </div>
  <div class="block1">
    <%= erb :_available_decks %><br>
    <div class="finish-game">
      <h3> Finish previous games </h3>
    <center><a href="/user_profile/uncompleted_rounds">Click here</a></center><br>
  </div>

  </div>
    <%= erb :_create_deck %><br>
  <div class = "stat">
    <%= erb :_round_history %><br>
  </div>



